@import 'abstract/mixin';
@import 'abstract/variable';
@import 'abstract/base';
@import 'component/header';
@import 'component/component';
@import 'component/footer';
@import 'page/home';
@import 'page/fasilitas';
@import 'page/location';
@import 'page/prestasi';
@import 'page/about';
