* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
  color: $color-dark;
  font-family: 'Inter', sans-serif;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}