@mixin respond($breakpoint) {
  @if $breakpoint == bp-320 {
    @media only screen and (max-width: 20em) {
      @content;
    } //320px
  }
  @if $breakpoint == bp-400 {
    @media only screen and (max-width: 25em) {
      @content;
    } //400px
  }
  @if $breakpoint == bp-500 {
    @media only screen and (max-width: 31.25em) {
      @content;
    } //500
  }
  @if $breakpoint == bp-570 {
    @media only screen and (max-width: 35.625em) {
      @content;
    } //570
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == bp-650 {
    @media only screen and (max-width: 40.625em) {
      @content;
    } //650px
  }
  @if $breakpoint == bp-700 {
    @media only screen and (max-width: 43.75em) {
      @content;
    } //700
  }
  @if $breakpoint == bp-768 {
    @media only screen and (max-width: 48em) {
      @content;
    } //768
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900
  }
  @if $breakpoint == bp-970 {
    @media only screen and (max-width: 60.625em) {
      @content;
    } //970
  }
  @if $breakpoint == bp-1000 {
    @media only screen and (max-width: 62.5em) {
      @content;
    } //1000
  }
  @if $breakpoint == bp-1100 {
    @media only screen and (max-width: 68.75em) {
      @content;
    } //1100
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200
  }
  @if $breakpoint == bp-1440 {
    @media only screen and (max-width: 90em) {
      @content;
    } //1400
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
  @if $breakpoint == bp-2400 {
    @media only screen and (min-width: 150em) {
      @content;
    } //2400
  }
}
