.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: $color-dark;
    position: relative;
    padding-top: 3.5rem;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 10rem;
      background: $color-primary;
    }
  }
  &__desc {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      color: $color-m-dark;
      font-size: 1.4rem;
      font-weight: 400;
      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &--show {
      cursor: pointer;
      padding-left: 4rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background: linear-gradient(90deg, transparent, rgba(#fff, 0.6) 0 25%, #fff 25% 100%);
      font-size: 1.4rem;
      font-weight: 600;
      color: $color-secondary;
    }
  }
  .card-down {
    padding: 0;
    left: 0;
    position: relative;
    align-self: flex-start;
  }
  &__btn {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-primary;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2rem;
      color: $color-primary;
    }

    &:hover {
      background-color: $color-primary;
      color: white;
      & > * {
        color: white;
      }
    }
  }
}
.title {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--text {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-1 {
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-primary;
      }
      &-2 {
        font-size: 4rem;
        font-weight: 700;
      }
      &-3 {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }
}
