.footer {
  padding: 5rem 10rem;
  background: $color-secondary;
  align-self: stretch;
  display: flex;
  justify-content: center;
  p {
    color: #fff;
  }

  hr {
    width: 100%;

    margin: 5rem 0;
    border: 0;
    border-top: solid 1px #fff;
  }

  @include respond(bp-768) {
    padding: 5rem;
  }
  @include respond(bp-500) {
    padding: 5rem 2rem;
  }
  &-container {
    max-width: 144rem;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem;

    &--left {
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      @include respond(bp-1100) {
        flex-direction: column;
        gap: 5rem;
      }
      .footer-logo-container {
      }
      &__logo {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          height: 5rem;
        }
        p {
          font-size: 1.6rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.2rem 10rem;

        @include respond(bp-1100) {
          justify-content: space-between;
          gap: 1.2rem 0;
        }
        @include respond(bp-400) {
          grid-template-columns: repeat(2, 1fr);
        }
        &--item {
          text-align: start;
          color: #fff;
          font-weight: 400;
          font-size: 1.4rem;
        }
      }

      &__desc {
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
        margin-top: 1rem;
      }
    }

    &--right {
      display: flex;
      justify-content: space-between;
      align-self: stretch;
      @include respond(bp-1100) {
        gap: 4rem;
      }
      @include respond(bp-650) {
        flex-direction: column;
        align-items: flex-start;
      }
      &__medsos {
        display: flex;
        align-items: center;
        gap: 1rem;
        &--box {
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 100%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          ion-icon {
            font-size: 2rem;
            color: $color-secondary;
          }
        }
      }

      &__cr {
        text-align: end;
        font-size: 1.4rem;
        color: rgba($color: #fff, $alpha: 0.7);
        font-weight: 300;
      }
    }
  }

  &__bottom {
    &--left {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: 7rem;

      @include respond(tab-port) {
        gap: 3rem;
        flex-direction: column;
      }
      &__alamat {
        display: flex;
        gap: 1rem;
        p {
          text-align: center;
          &:nth-child(1) {
            font-size: 2rem;
          }
          &:nth-child(2) {
            font-size: 1.4rem;
            font-weight: 400;
          }

          ion-icon {
            color: $color-primary;
          }
        }
      }
      &__phone,
      &__email {
        display: flex;
        gap: 1rem;
        p {
          text-align: center;
          &:nth-child(1) {
            font-size: 2rem;
          }
          &:nth-child(2) {
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        ion-icon {
          color: $color-primary;
        }
      }
      &__email {
      }
    }
  }
}
